//blowing border button
.blow-btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid darkblue;
    border-radius: 0.6em;
    color: whitesmoke;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.6em;
    margin: 20px auto;
    padding: 1.2em 3.05em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.blow-btn:hover,
.blow-btn:focus {
    color: darkblue;
    outline: 0;
}

.animation {
    border-color: darkblue;
    color: whitesmoke;
    box-shadow: 0 0 40px 40px darkblue inset, 0 0 0 0 darkblue;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.animation:hover {
    box-shadow: 0 0 10px 0 darkblue inset, 0 0 10px 4px darkblue;
}
//
